@{
    ViewData["Title"] = "AboutUs";
}
<div class="container">
    <h1>About Us</h1>
    <p>maznaaa <strong>maznaaa</strong> maznaaa</p>

    <h2>Our Story</h2>
    <p>maznaaa</p>

    <h2>Our Mission</h2>
    <p>maznaaa</p>

    <h2>Why Choose Us?</h2>
    <p><strong>maznaaa</strong>: maznaaa</p>
    <p><strong>maznaaa</strong>: maznaaa</p>
    <p><strong>maznaaa</strong>: maznaaa</p>

    <p>maznaaa</p>
</div>