@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snus Shop - Home</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="homepage-container">
        <img src="~/assets/img/homepageimg.jpg" alt="Snus Shop" class="homepageimg">
        <a href="/Shop/All" class="shop-button">Enter Shop</a>
    </div>
</body>
</html>
