@{
    ViewData["Title"] = "Home Page";
}
<div class="homepage-container">
    <img src="~/assets/img/pic2.jpeg" alt="Snus Shop" class="homepageimg">
    <h1 class="shop-title">Snus Shop</h1>
    <a href="/Shop/All" class="shop-button">Enter Shop</a>
</div>

